
project:
  type: website
  output-dir: docs
  resources:
    - NW_RESUME.pdf

website:
  title: "neva140"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: projects.qmd
        text: Projects

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

